
*{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
.navbar {
    display: flex;
	justify-content: flex-end;
   	background: linear-gradient(to top, rgb(206, 206, 236),rgb(240, 240, 252));
	background-size: 100%;
	margin-bottom: -11px;
	padding-right: 90px;
}
/* .navbar li {
	list-style: none;
	position: relative;
    margin-left: 10px;
} */
/* .submenu {
    display: none;
    position: absolute;
    left: -10px;
    top: 15px;
    padding-top: 10px;
} */
/* .submenu>li { */
    /* background-color: blue;
} */
.submenu a {
    color: brown;
}

.navbar a {
    text-decoration: none;
}
.navbar>li:hover .submenu{
display: block;
}
/* 
.submenu {
	display: block;
    position: absolute;
	z-index: 5;
}
.navbar > li:hover.submenu {
    position: absolute;
}
.navbar:after{
	content: '';
	display: table;
	clear: both;
}
.submenu {
	display: none;
	background: rgb(34, 92, 158);
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 5;
	width: 180px;
	transform: scaleY(0);
	transform: 0 0;
	transform: .5s ease-in-out;
}
.submenu a {
	color: rgb(49, 36, 83);
	text-align: left;
	padding: 12px 15px;
	border-bottom: 1px solid rgb(78, 167, 240);
}
.submenu li:last-child a {border-bottom: none;}
.navbar > li:hover.submenu {
	display: block;
	opacity: 1;
	transform: scaleY(1);
}

.navbar a {
    float: left;
   	color: #224d75;
    font-weight: 500;
    text-align: center;
   	padding: 14px 16px;
   	text-decoration: none;
   	font-size: 17px;
   	font-family: sans-serif;
   	font-weight: 600;
}
.navbar a:hover{
    background: linear-gradient(to top, rgb(138, 185, 240),rgb(78, 167, 240));
   	color: #fff;
}
.navbar a.active {
    background: linear-gradient(to top, rgb(138, 185, 240),rgb(78, 167, 240));
    color: #fff
}  */